{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<style>
    /* Agrega estilos al contenedor */
    .container {
        max-width: 500px;
        margin: 0 auto;
        background-color: rgba(152, 209, 236, 0.8);
        padding: 100px;
        border-radius: 50px;

        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    /* Estiliza la tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    th {
        font-weight: bold;
        color: #fff;
    }

    /* Estiliza los botones */
    .btn {
        display: inline-block;
        background-color: #1d4aab;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .btn:hover {
        background-color: #23527c;
    }

    /* Estiliza el encabezado */
    h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    /* Imagen de fondo */
    body {
        background-image: url(https://img.freepik.com/vector-gratis/fondo-digital-azul-copia-espacio_23-2148821698.jpg?w=826&t=st=1688845380~exp=1688845980~hmac=f074b9b550ab9f83bee9537649c9f7a7b79785190052c36fcb98540f2bdc81be);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<div class="container">
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %} #}

        <h1 class="h3 mb-3 font-weight-normal">Por favor ingrese!</h1>
        <label for="inputUsername">Username: </label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
            autocomplete="username" required autofocus>
        <label for="inputPassword">Password: </label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
            required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br>

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}
        
        <button class="btn btn-lg btn-primary" type="submit">
            Entrar
        </button>
    </form>
</div>
{% endblock %}