<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22></text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
       
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">INSERT TITLE HERE!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                    </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_usuario_index') }}">Insert ---------</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <p class="nav-link mb-0 nav-link--large">{{ app.user.nombre }} {{ app.user.apellido }}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-cerrar-sesion" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-iniciar-sesion" href="{{ path('app_login') }}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-registrarse" href="{{ path('app_register') }}">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        {% block body %}{% endblock %}
    </body>
</html>